<!DOCTYPE HTML>
<html lang='en'>
<head>
	<title>Email Addresses</title>
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}">
</head>
<body>
	<div id='wrapper'>
		<div id='valid-email'>
			<p>The email address you entered {{your_email}} is a VALID email address! Thank you!</p>
		</div>
		<div id="email-address">
			<h3>Email Addresses Entered:</h3>
			<table>
				<thead>
					<tr>
						<th>Email Address:</th>
						<th>Created on:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>msobreo@uw.edu</td>
						<td>11//07/15 5:37PM</td>
					</tr>
				{% for email in emailsdb: %}
					<tr>
						<td>{{email['email_address']}}</td>
						<td>{{email['created_at']}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>