<!DOCTYPE HTML>
<html lang='en'>
<head>
	<title>Email Addresses</title>
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}">
</head>
<body>
	<div id='wrapper'>
	{% if message == 'insert': %}
		<div id='valid-email' class='green'>
				<p>The email address you entered <span>{{your_email}}</span> is a VALID email address! Thank you!</p>
		</div>
	{% else: %}
		<div id='valid-email' class='red'>
				<p>You have deleted <span>{{deleted_email}}</span> from the database!</p>
		</div>
	{% endif %}
		<div id="email-address">
			<h3>Email Addresses Entered:</h3>
			<table>
				<thead>
					<tr>
						<th>Email Address:</th>
						<th>Created on:</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for email in emailsdb: %}
					<form action='/delete' method='POST'>
						<tr>
							<td>{{email['email_address']}}</td>
							<td>{{email['created_at']}}</td>
							<td>
								<input type='hidden' name='delete' value={{email['id']}}>
								<input type='hidden' name='deleted_email' value={{email['email_address']}}>
								<input type='submit' value='DELETE'>
							</td>
						</tr>
					</form>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>